In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("farmacie.csv", sep=";", encoding="ISO-8859-1")
df = df[["INDIRIZZO", "CAP", "DESCRIZIONECOMUNE", "FRAZIONE", "SIGLAPROVINCIA", "DESCRIZIONEPROVINCIA", "DESCRIZIONEREGIONE"]]
df.columns = ["address", "cap", "municipality", "hamlet", "province_code", "province", "region"]
lower = [
   "municipality", "hamlet", "province", "region"
]
for key in lower:
    df[key]= df[key].apply(lambda x: " ".join([
        y.capitalize()
        for y in x.split(" ")
    ]) if not pd.isna(x) else "")

df = df[df.address.str.count(",")==1]
df = df[df.hamlet=="-"]


values = []
for val in df.address:
    address, house_number = val.split(",")
    values.append({
        "address":" ".join([
            e.capitalize()
            for e in address.strip().split(" ")
        ]),
        "house_number":house_number.strip()
    })

df = df.drop(columns=["address", "hamlet"]).reset_index(drop=True)
df = pd.concat([
    pd.DataFrame(values),
    df
], axis=1)

In [14]:
df

,address,house_number,cap,municipality,province_code,province,region
0,Via Buggianese,108,51019,Ponte Buggianese,PT,Pistoia,Toscana
1,Via San Francesco Da Paola,10,10123,Torino,TO,Torino,Piemonte
2,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
3,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
4,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
...,...,...,...,...,...,...,...
38855,Via Piersanti Mattarella,11/B,96012,Avola,SR,Siracusa,Sicilia
38856,Via Anna Frank,9/11,20121,Bollate,MI,Milano,Lombardia
38857,Contrada Bagni,38,84020,Colliano,SA,Salerno,Campania
38858,Via Dei Mille,3,20020,Cesate,MI,Milano,Lombardia
38859,Via Carlo Maria Maggi,38,20855,Lesmo,MB,Monza - Brianza,Lombardia

In [15]:
df.to_csv("addresses.csv", index=False)

In [9]:
df

,address,house_number,index,cap,municipality,province_code,province,region
0,Via Buggianese,108,0,51019,Ponte Buggianese,PT,Pistoia,Toscana
1,Via San Francesco Da Paola,10,1,10123,Torino,TO,Torino,Piemonte
2,Piazza Vittorio Veneto,10,2,10123,Torino,TO,Torino,Piemonte
3,Piazza Vittorio Veneto,10,3,10123,Torino,TO,Torino,Piemonte
4,Piazza Vittorio Veneto,10,4,10123,Torino,TO,Torino,Piemonte
...,...,...,...,...,...,...,...,...
38855,Via Piersanti Mattarella,11/B,49339,96012,Avola,SR,Siracusa,Sicilia
38856,Via Anna Frank,9/11,49343,20121,Bollate,MI,Milano,Lombardia
38857,Contrada Bagni,38,49344,84020,Colliano,SA,Salerno,Campania
38858,Via Dei Mille,3,49345,20020,Cesate,MI,Milano,Lombardia
38859,Via Carlo Maria Maggi,38,49346,20855,Lesmo,MB,Monza - Brianza,Lombardia

In [5]:
from random_italian_person import RandomItalianPerson

In [7]:
RandomItalianPerson().describe()

'Rodrigo Benedetti Ã¨ nata/o a Molazzana (LU) il 1972-12-18. Ora vive a Cagliari (CA) in Via Giuseppe Garibaldi 109.'