In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("farmacie.csv", sep=";", encoding="ISO-8859-1")
df = df[["INDIRIZZO", "CAP", "DESCRIZIONECOMUNE", "FRAZIONE", "SIGLAPROVINCIA", "DESCRIZIONEPROVINCIA", "DESCRIZIONEREGIONE"]]
df.columns = ["address", "cap", "municipality", "hamlet", "province_code", "province", "region"]
lower = [
   "municipality", "hamlet", "province", "region"
]
for key in lower:
    df[key]= df[key].apply(lambda x: " ".join([
        y.capitalize()
        for y in x.split(" ")
    ]) if not pd.isna(x) else "")

df = df[df.address.str.count(",")==1]
df = df[df.hamlet=="-"]


values = []
for val in df.address:
    address, house_number = val.split(",")
    values.append({
        "address":" ".join([
            e.capitalize()
            for e in address.strip().split(" ")
        ]),
        "house_number":house_number.strip()
    })

df = df.drop(columns=["address", "hamlet"]).reset_index(drop=True)
df = pd.concat([
    pd.DataFrame(values),
    df
], axis=1)

C:\Users\cappe\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,address,house_number,cap,municipality,province_code,province,region
0,Via Buggianese,108,51019,Ponte Buggianese,PT,Pistoia,Toscana
1,Via San Francesco Da Paola,10,10123,Torino,TO,Torino,Piemonte
2,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
3,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
4,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
...,...,...,...,...,...,...,...
38855,Via Piersanti Mattarella,11/B,96012,Avola,SR,Siracusa,Sicilia
38856,Via Anna Frank,9/11,20121,Bollate,MI,Milano,Lombardia
38857,Contrada Bagni,38,84020,Colliano,SA,Salerno,Campania
38858,Via Dei Mille,3,20020,Cesate,MI,Milano,Lombardia
38859,Via Carlo Maria Maggi,38,20855,Lesmo,MB,Monza - Brianza,Lombardia

In [4]:
df.to_csv("addresses.csv", index=False)

In [5]:
df

,address,house_number,cap,municipality,province_code,province,region
0,Via Buggianese,108,51019,Ponte Buggianese,PT,Pistoia,Toscana
1,Via San Francesco Da Paola,10,10123,Torino,TO,Torino,Piemonte
2,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
3,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
4,Piazza Vittorio Veneto,10,10123,Torino,TO,Torino,Piemonte
...,...,...,...,...,...,...,...
38855,Via Piersanti Mattarella,11/B,96012,Avola,SR,Siracusa,Sicilia
38856,Via Anna Frank,9/11,20121,Bollate,MI,Milano,Lombardia
38857,Contrada Bagni,38,84020,Colliano,SA,Salerno,Campania
38858,Via Dei Mille,3,20020,Cesate,MI,Milano,Lombardia
38859,Via Carlo Maria Maggi,38,20855,Lesmo,MB,Monza - Brianza,Lombardia

In [6]:
from random_italian_person import RandomItalianPerson

In [7]:
RandomItalianPerson().describe()

'Andrea Aiello Ã¨ nata/o a Soveria Mannelli (CZ) il 1928-09-09. Ora vive a Cumiana (TO) in Strada Torino 24.'

In [8]:
df = pd.DataFrame([
        RandomItalianPerson().data
        for _ in range(5)
    ])

In [10]:
from tabulate import tabulate

In [12]:
print(tabulate(df.values, df.columns, tablefmt="grid"))

+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+
| region                | province   | surname   | name      | sex   | birth_municipality   | birth_province   | birth_region   |   birth_cap | birth_province_code   | birthdate   | address           | house_number   |   cap | municipality   | province_code   | codice_fiscale   |
+=======================+============+===========+===========+=======+======================+==================+================+=============+=======================+=============+===================+================+=======+================+=================+==================+
| Marche                | Macerata   | Di Felice | Giacomina | F     | Mosciano Sant'angelo | Teramo           | Abruzzo        |       64023 | TE                    | 1945-09-18  | Viale De Amicis   | 76             | 62020 | Colmurano      | MC              | DFLGMN45P58F764B |
+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+
| Friuli Venezia Giulia | Udine      | Galli     | Imen      | F     | Isola Dovarese       | Cremona          | Lombardia      |       26031 | CR                    | 1942-03-10  | Via Udine         | 2              | 33020 | Verzegnis      | UD              | GLLMNI42C50E356T |
+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+
| Abruzzo               | Pescara    | Rosso     | Eva       | F     | Cellarengo           | Asti             | Piemonte       |       14010 | AT                    | 2001-12-31  | Via G. Fonzi      | 58             | 65010 | Spoltore       | PE              | RSSVEA01T71C438U |
+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+
| Emilia Romagna        | Bologna    | Grasso    | Emanuele  | M     | Caposele             | Avellino         | Campania       |       83040 | AV                    | 1942-08-27  | Via G. Massarenti | 223/5          | 40138 | Bologna        | BO              | GRSMNL42M27B674L |
+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+
| Sicilia               | Palermo    | Pastorino | Lenuta    | F     | Borzonasca           | Genova           | Liguria        |       16041 | GE                    | 1972-09-05  | Via Montalbo      | 124            | 90142 | Palermo        | PA              | PSTLNT72P45B067T |
+-----------------------+------------+-----------+-----------+-------+----------------------+------------------+----------------+-------------+-----------------------+-------------+-------------------+----------------+-------+----------------+-----------------+------------------+